@model PropertyTaxPortal.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SOrder" class="control-label"></label>
                <input asp-for="SOrder" class="form-control" />
                <span asp-validation-for="SOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsDate" class="control-label"></label>
                <input asp-for="NewsDate" class="form-control" />
                <span asp-validation-for="NewsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartOn" class="control-label"></label>
                <input asp-for="StartOn" class="form-control" />
                <span asp-validation-for="StartOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOn" class="control-label"></label>
                <input asp-for="EndOn" class="form-control" />
                <span asp-validation-for="EndOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadId" class="control-label"></label>
                <input asp-for="UploadId" class="form-control" />
                <span asp-validation-for="UploadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

