
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using PropertyTaxPortal.Models
@model IEnumerable<PropertyTaxPortal.Models.ImageModel>

@{
    ViewData["Title"] = "DisplayImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../js/jquery-1.7.1.js" type="text/javascript"></script>
<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../lib/bootstrap/dis/css/bootstrap.css" type="text/javascript"></script>

@using (Html.BeginForm("DisplayImage", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>Select Image:</span>
    <select name="ImageId">
        <option value="0">Please select</option>
        @foreach (ImageModel image in Model)
        {
            <option value="@image.UploadID">@image.Filename</option>
        }
    </select>
    <br />
    <input type="submit" class="btn btn-primary bg-3" id="SubmitInquiry" value="SUBMIT INQUIRY" asp-controller="News" asp-action="DisplayImage" />
}
@if (ViewBag.Base64String != null)
{
    <hr />
    <img alt="" src="@ViewBag.Base64String" style="height:100px;width:100px;" />
    <img alt="" src="~/images/faq.jpg" style="height:100px;width:100px;" />
}