@model PropertyTaxPortal.Models.File;
@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid section-header-pi">
    <h2 class="display-4"> PUBLIC INQUIRY FORM</h2>
</section>

<h2>Create</h2>

<div style="height: 100vh; background-color: #fff">
    <div class="container section-form">
        @using (Html.BeginForm("UploadImage", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    @Html.Label("Avatar", "", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <b>File:</b>&nbsp;<input type="file" id="Avatar" name="postedFile" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upload" class="btn btn-primary bg-3" asp-controller="News" asp-action="UploadImage" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
