<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

  <appSettings>
  </appSettings>

  <connectionStrings>
    <!--ASSESSORPROPDB-->
    <!--<add name="AdminDS" connectionString="Data Source=10.48.150.196,8433; Initial Catalog=PortalDB; user id=PortalDbUser; password=portaldbaccess"/>-->
    <!--hitddbs01-v-->
    <!--<add name="AdminDS" connectionString="Data Source=hitddbs01-v; Initial Catalog=PortalDB; Persist Security Info=False; user=PortalDbUser; password=portaldbaccess"/>-->
    <!--Dev server-->
    <!--<add name="AdminDS" connectionString="Data Source=10.168.20.230; Initial Catalog=TaxPortal_Stage; Persist Security Info=False; user=PortalDbUser; password=portaldbaccess"/>-->

  </connectionStrings>
  <location  path="admin">
    
    <system.web>
      <authentication mode="Windows"></authentication>
      <authorization>
        <!--<allow users="laassessor\480313" />
        --><!--Jorge Huerta--><!--
        <allow users="laassessor\498771" />
        --><!--Harry Le--><!--
        <allow users="laassessor\403233" />
        --><!--Deanne Fallorina--><!--
        <allow users="laassessor\490159" />
        --><!--Bryan Group-->
        <allow users="laassessor\153217" />
        <!--Pattabi-->
        <!--<allow users="laassessor\617585" />
        --><!--Willie-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.html" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>