
@{
    ViewData["Title"] = "Property Tax Portal Site Administration";
}



<section class="section-admin-header d-flex justify-content-between mx-5 my-3">
    <div>
        <h4>Welcome @User.Identity.Name,</h4>
    </div>
    <div>
        <form method="post" asp-controller="Auth" asp-action="SignOut">
            <button type="submit" class="btn btn-admin">Sign Out</button>
        </form>
    </div>
</section>





<section class="container-fluid section-analytics my-5">
    <div class="row">
        <div class="col-md-6 analyitics-img">
            <img src="~/images/analytics-main.png" />
        </div>
        <div class="col-md-6 analyitics-img">
            <img src="~/images/analytics-pagesviewed.png" />
        </div>
    </div>
</section>


<section class="container-fluid section-analytics section-cards">
    <div class="row">

        <div class="col-md-4  text-card  js--wp-4">
            <a asp-controller="Categories" asp-action="Index">
                <div class="card-img bg-grey">
                    <i class="fas fa-align-justify c-1"></i>

                </div>
                <p>Categories</p>

            </a>
        </div>
        <div class="col-md-4  text-card  js--wp-5">
            <a asp-controller="FAQs" asp-action="Index">
                <div class="card-img bg-grey">
                    @*<ion-icon class="c-2" name="people"></ion-icon>*@
                    <i class="fas fa-question-circle c-2"></i>
                </div>
                <p>FAQ</p>

            </a>
        </div>
        <div class="col-md-4  text-card  js--wp-6">
            <a asp-controller="News" asp-action="Index">
                <div class="card-img bg-grey">
                    @*<ion-icon class="c-3" name="people"></ion-icon>*@
                    <i class="fas fa-newspaper c-3"></i>
                </div>
                <p>NEWS</p>

            </a>
        </div>
    </div>
</section>



<style>
    body {
        background-color: #f1f4f7;
    }
</style>
