<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{PublicInquiryEmailLabel}</title>
</head>
<body>
    <table style="width:900px">
        <tr>
            <td colspan="2">
                ***************************************************************
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {NotReplyLabel}.
            </td>
        </tr>
        <tr {Display}>
            <td colspan="2">
                ***************************************************************
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {ResponsibleDepartment}
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {ReferenceNumberLabel} {EmailTrackingCount}.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="22%">
                {NamerLabel}:
            </td>
            <td width="78%">
                {LastName}, {FirstName}
            </td>
        </tr>
        <tr>
            <td>
                {BusinessNameLabel}:
            </td>
            <td>
                {BusinessName}
            </td>
        </tr>
        <tr>
            <td valign="top">
                {MailingAddressLabel}:
            </td>
            <td>
                {MailingAddr} <br />
                {MailAddrCity}, {MailAddrState} {MailAddrZip}
            </td>
        </tr>
        <tr>
            <td>
                {EmailLabel}:
            </td>
            <td>
                {EmailAddr}
            </td>
        </tr>
        <tr>
            <td>
                {DaytimePhoneNumberLabel}:
            </td>
            <td>
                {DayTimeTelNumber}
            </td>
        </tr>
        <tr>
            <td>
                {FaxNumberLabel}:
            </td>
            <td>
                {FaxNumber}
            </td>
        </tr>
        <tr>
            <td valign="top">
                {PropertyAddressLabel}:
            </td>
            <td>
                {PropertyAddr} <br />
                {PropertyAddrCity}, {PropertyAddrState} {PropertyAddrZip}
            </td>
        </tr>
        <tr>
            <td>
                {AINLabel}:
            </td>
            <td>
                {AIN}
            </td>
        </tr>
        <tr>
            <td>
                {CompanyNumberLabel}:
            </td>
            <td>
                {CompanyNumber}
            </td>
        </tr>
        <tr>
            <td>
                {RoutingIndexLabel}:
            </td>
            <td>
                {RoutingIndex}
            </td>
        </tr>
        <tr>
            <td valign="top">
                {CommentsLabel}:
            </td>
            <td>
                {Comments}
            </td>
        </tr>
        <br />
        <br />
        <tr>
            <td colspan="2">
                {SubmitLabel} http://www.lacountypropertytax.com/portal/contactus/pubinquiry.aspx.
            </td>
        </tr>
    </table>
</body>
</html>