<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Public Inquiry Email</title>
</head>
<body>
    <table style="width:900px">
        <tr>
            <td width="22%">
                &nbsp;
            </td>
            <td width="78%">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {Subject} - Property Tax Portal - Reference # {EmailTrackingCount}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Thank you for completing our Public Inquiry Form.<br /> 
                A staff member from the {Department} will respond to your request shortly.
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                The Reference number for your inquiry is {EmailTrackingCount}.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="22%">
                Name:
            </td>
            <td width="78%">
                {LastName}, {FirstName}
            </td>
        </tr>
        <tr>
            <td>
                Business Name:
            </td>
            <td>
                {BusinessName}
            </td>
        </tr>
        <tr>
            <td valign="top">
                Mailing Address:
            </td>
            <td>
                {MailingAddr} <br />
                {MailAddrCity}, {MailAddrState} {MailAddrZip}
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                {EmailAddr}
            </td>
        </tr>
        <tr>
            <td>
                Daytime Phone Number:
            </td>
            <td>
                {DayTimeTelNumber}
            </td>
        </tr>
        <tr>
            <td>
                Fax Number:
            </td>
            <td>
                {FaxNumber}
            </td>
        </tr>
        <tr>
            <td valign="top">
                Property Address:
            </td>
            <td>
                {PropertyAddr} <br />
                {PropertyAddrCity}, {PropertyAddrState} {PropertyAddrZip}
            </td>
        </tr>
        <tr>
            <td>
                AIN:
            </td>
            <td>
                {AIN}
            </td>
        </tr>
        <tr>
            <td>
                Company Number:
            </td>
            <td>
                {CompanyNumber}
            </td>
        </tr>
        <tr>
            <td>
                Routing Index:
            </td>
            <td>
                {RoutingIndex}
            </td>
        </tr>
        <tr>
            <td valign="top">
                Comments:
            </td>
            <td>
                {Comments}
            </td>
        </tr>
        <br />
        <br />
    </table>
</body>
</html>