<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Public Inqury Email</title>
</head>
<body>
    <table>
        <tr>
            <td>
                ***************************************************************
            </td>
        </tr>
        <tr>
            <td>
                Please do NOT reply to this email.
            </td>
        </tr>
        <tr>
            <td>
                ***************************************************************
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Thank you for completing our Public Inquiry form. A staff member from the Assessment Appeals Board will respond to your request shortly.
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                The Reference number for your inquiry is 85566.
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Name: {LastName}, {FirstName}
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                To submit your inquiries, please use our Inquiry Form at http://www.lacountypropertytax.com/portal/contactus/pubinquiry.aspx.
            </td>
        </tr>
    </table>

</body>
</html>