@using PropertyTaxPortal.Models
@model dynamic
@{
    ViewData["Title"] = "AllFAQs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All FAQs</title>
    
</head>

<body>
    
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Tax Bills</th>
        </tr>
        @foreach (FAQ taxfaq in Model.TaxBill)
        {
            <tr>
                <td>@taxfaq.question</td>
            </tr>
        }
    </table>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Refunds/Tax Sales/Tax Liens</th>
        </tr>
        @foreach (FAQ refundfaq in Model.Refund)
        {
            <tr>
                <td>@refundfaq.question</td>
            </tr>
        }
    </table>
</body>
</html>