
@{
    ViewData["Title"] = "FAQTabs";
}
<section class="FAQ-Section">


   
    <style>
        

        ul.tab {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #373737;
        }

        /* Float the list items side by side */
            ul.tab li {
                float: left;
                background-color: #373737;
            }

        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 38px 40px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 24px;
            font-weight:bold;
        }

        /* Change background color of links on hover */
        ul.tab li a:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        ul.tab li a:focus, .active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            padding: 6px 12px;
            border: 0px solid #ccc;
            border-top: none;
        }
        div.vertical-line {
            width: 0px; /* Use only border style */
            height: 100%;
            float: left;
            border: 1px inset; /* This is default border style for <hr> tag */
        }
        
    </style>

        <div style="width:60%;text-align:left; height:130px; font-size:60px; color:white;background-color:#808080; font-weight:bold">Frequently Asked Questions </div>
        <br />
        <div style="width:60%;text-align:left; height:50px; font-size:20px; color:white;background-color:#808080; ">If you have any questions, please contact us. We will respond to you as soon as possible.</div>
        <br />
        <ul class="tab">
            <li>
                <a class="tablinks active" href="#" onclick="openTab(event, 'All')">All</a>
            </li>
            <li>
                <div class="vertical-line" style="height: 112px;"></div><a class="tablinks" href="#" onclick="openTab(event, 'TaxBill')">Tax Bills</a>
            </li>
            <li>
                <div class="vertical-line" style="height: 112px;"></div><a class="tablinks" href="#" onclick="openTab(event, 'Refund')">Refunds Tax Sales/Liens</a>
            </li>
            <li>
                <div class="vertical-line" style="height: 112px;"></div><a class="tablinks" href="#" onclick="openTab(event, 'Ownership')">Ownership</a>
            </li>
            <li>
                <div class="vertical-line" style="height: 112px;"></div><a class="tablinks" href="#" onclick="openTab(event, 'Property')">Property Values</a>
            </li>
            <li>
                <div class="vertical-line" style="height: 112px;"></div>
            </li>
        </ul>
        <div id="All" class="tabcontent">
            <div><h1> All FAQs </h1></div>
            <div>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th><h4>Tax Bills</h4></th>
                    </tr>
                    @foreach (FAQ taxfaq in Model.TaxBill)
                    {
                        <tr>
                            <td>@taxfaq.question</td>
                        </tr>
                    }
                </table>
            </div>
            <hr />
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th><h4>Refunds/Tax Sales/Tax Liens</h4></th>
                </tr>
                @foreach (FAQ refundfaq in Model.Refund)
                {
                    <tr>
                        <td>@refundfaq.question</td>
                    </tr>
                }
            </table>
        </div>
        <div id="TaxBill" class="tabcontent" style="display:none">
            <h1>TaxBill content</h1>
        </div>
        <div id="Refund" class="tabcontent" style="display:none">
            <h1>Refund content</h1>
        </div>
        <div id="Ownership" class="tabcontent" style="display:none">
            <h1>Ownership content</h1>
        </div>
        <div id="Property" class="tabcontent" style="display:none">
            <h1>Propert content</h1>
        </div>
        @*<div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li>
                            <a asp-controller="FAQS" asp-action="AllFAQs">All FAQS</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">Tax Bills</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">Refunds/Tax Sales/Tax Liens</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">ownership</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">Property Values</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>*@
        @*<div class="panel panel-default" style="width: 500px; padding: 10px; margin: 10px">
            <div id="Tabs" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
                            Personal
                        </a>
                    </li>
                    <li><a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" style="padding-top: 20px">
                    <div role="tabpanel" class="tab-pane active" id="personal">
                        This is Personal Information Tab
                    </div>
                    <div role="tabpanel" class="tab-pane" id="employment">
                        This is Employment Information Tab
                    </div>
                </div>
            </div>
        </div>*@
        <script>
            function openTab(evt, TabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tabcontent.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(TabName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
</section>