<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Public Inqury Email</title>
</head>
<body>
    <table>
        <tr>
            <td>
                ***************************************************************
            </td>
        </tr>
        <tr>
            <td>
                Please do NOT reply to this email.
            </td>
        </tr>
        <tr>
            <td>
                ***************************************************************
            </td>
        </tr>
        <tr>
            <td>
                To submit your inquiries, please use our Inquiry Form at {0}.
            </td>
        </tr>
    </table>
    
    
  
    
</body>
</html>