
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "ErrorMessage";
}

<!--<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.
    </div>
</div>-->

<div class="container section-form text-left">
    <div class="row">
        <div class="form-group col-sm-12 thankyou-text">
            Error
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 thankyou-text">
            An unexpected error has occurred. Please contact the system administrator.
        </div>
    </div>
</div>
