
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "ErrorMessage";
}
<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.
    </div>
</div>