<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] PopertyTaxPortal</title>
 
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body>

    <!------------------------------ NAVBAR ------------------------------>

    <nav class="navbar navbar-default fixed-top">
        <ul class="container justify-content-end">
            <li class=""><a href='#'>Home</a></li>
            <li class="droppable">
                <a href="#">Public Info</a>
                <div class="mega-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 ml-auto">
                                <ul>
                                    <li><a href="#"> Board Correspondence</a></li>
                                    <li><a href="#"> Code</a></li>
                                    <li><a href="#">Public Information Office</a></li>
                                    <li><a href="#">Public Records Policy</a></li>
                                    <li><a href="#">Board Agenda</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class='droppable'>
                <a href='#'>Category One</a>
                <div class='mega-menu'>
                    <div class="container">
                        <ul class="">
                            <h3>Heading 1</h3>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                        </ul><!-- .ul-reset -->
                        <ul class="">
                            <h3>Heading 2</h3>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                        </ul><!-- .ul-reset -->
                        <ul class="">
                            <h3>Heading 3</h3>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                            <li><a href='#'>Category One Sublink</a></li>
                        </ul><!-- .ul-reset -->
                        <ul class="">
                            <h3>Heading 4</h3>
                            <li><img src="http://placehold.it/205x172"></li>
                        </ul>
                    </div><!-- .container -->
                </div><!-- .mega-menu -->
            </li><!-- .droppable -->
       
            <li><a href='#'>Category Four</a></li>
            <li><a href='#'>Category Five</a></li>
            <li><a href='#'>Category Six</a></li>
        </ul><!-- .container .ul-reset -->
    </nav>

    


    <!----------------------------- /END NAVBAR -------------------------->

    <div class="container body-content">
        <!------------------------------ BODY ---------------------------->
        @RenderBody()

        <!----------------------------- /END BODY ------------------------->
        <hr />


        <!------------------------------ FOOTER ------------------------------>
        <footer>
            <p>&copy; 2019 - PopertyTaxPortal</p>

        </footer>
        <!------------------------------ /END FOOTER ------------------------------>
    </div>


    @RenderSection("Scripts", required: false)

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
</body>
</html>
