<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] PopertyTaxPortal</title>
 
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />

        <link href="~/css/footer.css" rel="stylesheet" />
        <link href="~/css/nav.css" rel="stylesheet" />
    </environment>

</head>
<body>

    <!------------------------------ NAVBAR ------------------------------>
   

    


    <!----------------------------- /END NAVBAR -------------------------->

    <div class="container body-content">
        <!------------------------------ BODY ---------------------------->
        @RenderBody()

        <!----------------------------- /END BODY ------------------------->
        <hr />


        <!------------------------------ FOOTER ------------------------------>
        <!-- Footer -->
        <footer>
            <div class="footer">
                <div class="contain">
                    <div class="col">
                        <center>
                            <h1><img src="~/images/LACseal.png" /></h1>
                            <ul>
                                <list>Enriching Lives . . . </list>
                            </ul>
                        </center>   
                    </div>
                    <div class="col">
                        <h1>Do You Need Help?</h1>
                        <ul>
                            <li>211 LA County</li>
                            <li>LA County Helps</li>
                            <li>Public Alerts</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h1>About</h1>
                        <ul>
                            <li>Navigation</li>
                            <li>How to Use</li>
                            <li>Site Map</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h1>Site Info</h1>
                        <ul>
                            <li>Accessibility</li>
                            <li>Disclaimer</li>
                            <li>Language</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h1>Contact</h1>
                        <ul>
                            <li>Public Inquiry Form</li>
                            <li>Assessor</li>
                            <li>Auditor/Controller</li>
                            <li>Treasurer & Tax Collector</li>
                            <li>Assessment Appeals Board</li>
                            <li>LA County Contacts</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
        <!------------------------------ /END FOOTER ------------------------------>
    </div>
  
    @RenderSection("Scripts", required: false)

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
</body>
</html>
