/* --------------------------- */
/* --------Section-news------- */
/* --------------------------- */

.section-news {
    height: 100px;
    max-width: 1200px;
    font-size: 80%;
}

.news-feed p {
    transform: translateY(35%);
}

.latest-news {
    background-color: rgba(0, 0, 99, 0.7);
    color: #fff;
    text-align: center;
}

.news-car {
    background-color: rgba(0, 0, 0, 0.6);
}

    .news-car .carousel-item {
        color: #fff;
    }

/* --------------------------- */
/* --------Carousel----------- */
/* --------------------------- */

.welcome-header {
    margin: 20px 0;
}

.name-text {
    padding-top: 70px;
}

.carousel-header .row {
    padding-left: 80px;
}

.section-head p {
    font-size: 80%;
    margin-bottom: 0;
}

.section-head {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.section-columns {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.img-carousel {
    height: 250px !important;
}

.img-person {
    position: absolute;
    z-index: 200;
    height: 225px;
    bottom: 0;
    right: 19%;
}

.i-2 {
    right: 28%;
}




/* --------------------------- */
/* --------Section-cards------ */
/* --------------------------- */

.bg-1 {
    background-color: #000063 !important;
}

.bg-2 {
    background-color: #311B92 !important;
}

.bg-3 {
    background-color: #3761A3 !important;
}

.bg-4 {
    background-color: #438AA0 !important;
}

.section-cards {
    margin-top: 90px;
    padding: 0 50px;
}

    .section-cards ion-icon {
        color: #fff;
        font-size: 250%;
        margin-top: 10px;
    }

    .section-cards .row {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

        .section-cards .row .text-card:first-child {
            margin-left: 0;
        }

        .section-cards .row .text-card:last-child {
            margin-right: 0;
        }

.text-card {
    width: 100%;
    min-height: 180px;
    margin: auto;
    box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
    max-width: 200px;
    background: #fff;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-bottom: 80px;
}

    .text-card p {
        transform: translateY(-50%);
        font-size: 80%;
    }

.card-img {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 45%;
    overflow: hidden;
    position: relative;
    z-index: 4;
}
