/* --------------------------- */
/* --------Section-news------- */
/* --------------------------- */

.section-news {
    height: 150px;
    max-width: 900px;
    
}

.news-feed {
    height: 85px;
    text-align: center;
    font-weight: 400;
    overflow-y: hidden;
}

.latest-news {
    background-color: rgba(55, 97, 163, 0.7);
    padding-top: 25px; 
    color: #57BDF6;
}

.news-car {
    background-color: rgba(0, 0, 0, 0.5);
}
.news-car .carousel-item {
    padding-top: 25px; 
    font-weight: 400;
    color: #fff;
    line-height: 1rem;
    
}

/* --------------------------- */
/* --------Carousel----------- */
/* --------------------------- */

.section-head {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 300px;
}



/* --------------------------- */
/* --------Section-cards------ */
/* --------------------------- */

.bg-1 {background-color: #000063 !important;}
.bg-2 {background-color: #311B92 !important;}
.bg-3{background-color: #3761A3 !important;}
.bg-4{background-color: #438AA0 !important;}

.section-cards {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 50px;
}
.section-cards ion-icon {
    color: #fff;
    font-size: 250%;
    margin-top: 10px;
}
.text-card {
    width: 100%;
    min-height: 250px;
    margin: auto;
    box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
    max-width: 250px;
    background: #fff;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.card-img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 45%;
    overflow: hidden;
    position: relative;
    z-index: 4;
}