.section-form-head {
    max-width: 900px;
    
    
}

.section-form {
    max-width: 900px;
    
}
.form-wrapper {
    height: 100%;
    background-color: #fff;
}

.section-header-pi {
    background-image: url('../images/publicinquiry.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}

.section-header-pi .display-4 {
    font-size: 200%;
    font-weight: 400 !important;
}

.category-text {
    font-weight: 600;
}

.dropdown-text {
    font-size: 13px;
    background-color: #F5F5F5;
    height: 36px;
}

.label-text {
    font-size: 11px;
    height: 11px;
    font-weight: 600;
}

.input-text {
    font-size: 15px;
    background-color: #F5F5F5;
    height: 30px;
}

.error-message {
    font-size: 11px;
    font-weight: 600;
}

.thankyou-text {
    font-family: Arial;
    font-size: 15px;
    color: #000000;
}
.form-group {
    margin-bottom: 0;
}

.pof-title {
    margin-top: 30px;
    position: relative;
}



