
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

.index-wrap {
    -webkit-transition: padding-top 1s;
    transition: padding-top 1s;
    padding-top: 100px;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 190px; /* height of your footer */
}

html,
body {
    /*height: 100%;*/
    position: relative;
    background-color: transparent;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



body {
    
    /* ----------background-image: linear-gradient(rgba(1, 21, 37, 0.6), rgba(1, 21, 37, 0.6)), url('../images/bg-8.jpg');------------- */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 300;
    color: #484848;
    font-size: 200%;

}

.search {
    font-size: 250%;
    
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    border-left:1px solid #484848;
    padding-left: 20px;
    margin-top: 10px;
}
    .search ion-icon {
        -webkit-transform: translateY(20%);
                transform: translateY(20%);
    }

.search-feature {
    position: absolute;
    top: -100px;
    height: 100px;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 999;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 10px #000;
    padding: 15px;
    /*line-height: 75px;*/
}

.down {
    
    top: 100px;
}
.padding-down {
    padding-top: 200px;
}


.sticky {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;
}

.bg-bills {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/taxbill-img3.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/taxbill-img3.jpg');
    background-size: cover !important;
    /*background-repeat: no-repeat;*/
    font-size: 75% !important;
}

@media only screen and (max-width: 580px) {

    .bg-bills {
        font-size: 60% !important;
    }
}

.bg-govsites {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../images/zuza-galczynska-679287-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/zuza-galczynska-679287-unsplash.jpg);
    
}

.bg-overview {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url('../images/overview.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/overview.jpg');
}

.bg-contesting-value {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url('../images/contesting-property-value.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/contesting-property-value.jpg');
}

.bg-public {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/publicinquiry.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/publicinquiry.jpg);
}


.bg-disclaimer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../images/zuza-galczynska-679287-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/zuza-galczynska-679287-unsplash.jpg);
}

.bg-contact {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/oliur-115919-unsplash.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/oliur-115919-unsplash.jpg');
}

.bg-faq {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/ian-baldwin-98703-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/ian-baldwin-98703-unsplash.jpg);
}

.bg-news {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/henry-co-231984-unsplash.png');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/henry-co-231984-unsplash.png');
}

.bg-header {
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    height: 250px;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}

    .bg-header .display-4 {
        text-transform: uppercase;
        font-size: 300%;
        font-weight: 500 !important;
    }


.bg-subheader .row {
    height: 350px;
}

.bg-subheader .sub-area:first-child {
    background-image: url('../images/GettyImages-992782254-contact-us.jpg');
    background-size: cover;
    background-position: center;
}

.property-area {
    background-image: url('../images/lac-map-ptp-2-edit.jpg') !important;
}

.response-area {
    background-image: url('../images/areas_respons.jpg') !important;
}

.bg-subheader .sub-area:last-child {
    background-color: #454e57;
    text-align: center;
    padding-top: 120px;
    color: #fff;
}

.sub-area .display-4 {
    text-transform: uppercase;
    font-size: 220% !important;
    font-weight: 500 !important;
}

@media only screen and (max-width: 768px) {
    .bg-subheader .row {
        height: 700px;
    }

    .bg-subheader .sub-area:first-child {
        height: 350px;
    }

    .bg-subheader .sub-area:last-child {
        background-color: #454e57;
        text-align: center;
        padding-top: 80px;
        color: #fff;
        height: 350px;
    }
}



.navScrolled {
    position: fixed !important;
    top: 100px;
    z-index: 500;
    width: 100%;
}


.display-3 {
    font-size: 2rem;
    margin: 20px 0;
}

.display-4 {
    font-size: 1.5rem;
}
header, footer {
    color: #fff;
}

a:hover {
    
    text-decoration: none;
    
}
header {
    height: 30px;
    background: #0D47A1;
    font-size: 80%;
    font-weight: 400;
    padding-top: 3px;
}

    header div div:last-child {
        text-align: right;
    }
    header a {
        text-decoration:none;
        color:#fff;
        -webkit-transition: font-size 0.4s;
        transition: font-size 0.4s;
        
    }
    header a:hover{
        text-decoration:none;
        color:#fff;
        font-size:105%;
    }


/* ----------------------- */
/* ------COLORS------------ */
/* ----------------------- */

.bg-1 {
    background-color: #000063;
}

.bg-2 {
    background-color: #311B92;
}

.bg-3 {
    background-color: #3761A3;
}

.bg-4 {
    background-color: #438AA0;
}
.bg-5 {
    background-color: #fff;
    
}
.bg-6 {
    background-color: #fff;
}


/* ----------------------- */
/* ------SECTION HEADER--- */
/* ----------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-8,
.js--wp-9 {
    opacity: 0;
}

    .js--wp-1.animated,
    .js--wp-2.animated,
    .js--wp-3.animated,
    .js--wp-8.animated,
    .js--wp-9.animated {
        opacity: 1;
    }

/* ----------------------- */
/* ------ NAVBAR --- */
/* ----------------------- */


#contact-drop {
    left: -120px;
}
#faq-drop {
    left: -180px;
}
.navbar span {
    
    margin-left: 5px;
}
    

.badge {
    margin-top: 6px;
}

.navbar .nav-icon-bar p,
h5 {
    margin-bottom: 0;
    
    color: #000;
    width: 213px;
}
.nav-icon-bar a:hover {
    text-decoration: none;
}

.nav-icon-bar p {
    font-size: 85%;

}

.navbar .nav-icon-bar h5 {
    font-size: 120%;
    font-weight: 600;
}

nav a img {
    height: 50px;
    width: auto;
}

.navbar {
    
    text-transform: uppercase;
    font-weight: 600;
    font-size: 65%;
    padding: 0px 20px;
    height: 70px;
    border-bottom: 1px solid #000000;
}

.small-drop {
    font-weight: 500;
}




.navbar-nav li a:link,
.navbar-nav li a:visited {
    color: #000;
    /* transition: color 0.2s; */
}

.navbar-nav li a:hover,
.navbar-nav li a:active {
    color: #0D47A1;
    -webkit-transition: display 0.4s;
    transition: display 0.4s;
}


.navbar-nav {
    z-index: 5000;
    
    height: 100%;
}

.bg-light {
    background-color: rgba(255, 255, 255) !important;
}

.navbar-collapse {
    
}




.dropdown-toggle::after {
    display: none;
}


.small-drop ul {
    list-style: none;
    line-height: 1.5rem;
    text-transform: none;
}

    .small-drop ul li {
        padding-top: 0px;
        
    }

.search-font {
    font-size: 30px;
    border-left: 1px solid #000;
    padding-left: 10px;
    margin-left: 100px;
}

nav .dropdown-menu {
    min-width: 320px;
    background-color: white;
    font-size: 110%;
    line-height: 1.3rem;
    padding: 15px;
    margin-top: 0;
    overflow: hidden;
    border-radius: 0;
    color:#000;
    
}


.secondary-width {
    min-width: 240px !important;
}


.icon {
    font-size: 130%;
}


/* ----------------------- */
/* ------MEGA_MENU--- */
/* ----------------------- */

.mega-menu {
    width: 100%;
}

    .mega-menu p {
        font-size: 0.8rem;
        font-weight: 500;
        color: #57BDF6;
    }

    .mega-menu ul {
        list-style: none;
        text-transform: none;
        font-weight: 500;
        
    }

    .mega-menu .row div:nth-child(-n+3) {
        border-right: 2px solid #000;
    }

/* --------------------------- */
/* --------Section-Footer------ */
/* --------------------------- */

.section-footer {
    background: #2A2929;
    
    font-size: 70%;
}
    .section-footer a {
        color: #808080;
        
    }
    .section-footer a:hover {
        color: #3761a3 !important;
    }

    .section-footer .row:first-child {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
    }


    /* .section-footer div div:first-child {
    margin-left: 10%;
} */

    .section-footer ul {
        list-style: none;
    }
        .section-footer ul li {
            color: #808080;
        }

        .section-footer ul li:first-child {
            color: #fff;
            font-weight: 500;
            font-size: 110%;
            padding-bottom: 5px;
            text-transform: uppercase;
            
        }

    .section-footer img {
        height: 70px;
    }


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-section {
    background: #0D47A1;
    
    padding-left: 15%;
}

/* --------------------------- */
/* --------Section-Header------ */
/* --------------------------- */


.section-header-pi {
     background-size: cover;
    background-position: center;
    /*height: 200px;*/
    height: 270px;
    text-align: center;
    padding-top: 95px;
    color: #fff;
}

.section-header-pi .display-4 {
    /*font-size: 200%;
    font-weight: 400 !important;*/
    width: 100%;
    text-align: center;
    font-size: 270%;
    color: white;
    /*background-color: rgba(0,0,0,0.5);*/
    font-weight: bold;
}



/* --------------------------- */
/* --------TAX BILLS------ */
/* --------------------------- */
.tax-content{
    max-width: 880px;
}
.bill-step {
    margin-top: 40px;
    font-size: 80%;
}
.bill-step div {
    color: #fff;
    border: 2px solid #753747;
    background-color: #753747;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 125%;
    margin-right: 25px;
}



.floatbox {
    /** Default lightbox to hidden */
    display: none;
    
    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.8);
}

.float-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    max-width: 500px;
    background: #343a40;
    
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px;
}
.floatbox:target {
    /** Remove default browser outline */
    outline: none;
    /** Unhide lightbox **/
    display: block;
}

.display-block {
    display: block;
}

/*-------------------------------------GCE------------------------------------*/
/** CUSTOM GOOGLE SEARCH STYLE **/

/*Removes default x in search fields (webkit only)*/
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*Changes the color of the placeholder*/
::-webkit-input-placeholder {
    color: #fff;
    opacity: .1;
}

:-moz-placeholder {
    color: #fff;
    opacity: .1;
}

::-moz-placeholder {
    color: #fff;
    opacity: .1;
}

:-ms-input-placeholder {
    color: #fff;
    opacity: .1;
}


div.gsc-control-cse.gsc-control-cse-en {
    width: 40%;
    border: 0;
    padding: 0;
    margin: 0;
}

#gs_tti50 input {
    /*border: 2px solid #777 !important;*/
    
    outline: none !important;
    width: 100% !important;
    height: 70px !important;
    border-radius: 0 !important;
    margin: -3px 0 auto !important;
    cursor: pointer;
    font-size: 1em;
    color: #000 !important;
    padding: 14px 40px 14px 14px !important;
    font-size: 150% !important;
    color: #000 !important;
    -webkit-transition: all .3s cubic-bezier(0,0,.5,1.5) !important;
    transition: all .3s cubic-bezier(0,0,.5,1.5) !important;
    background: #fff url(http://cdn.johnroberts.com/hubfs/images/search.png?t=1435173000345) no-repeat center left !important;
    background-size: 30px !important;
    background-position-x: 20px;
    border-radius: 20px 20px !important;
}
input#gsc-i-id1 {
    width: 2400px !important;
    padding-left: 35px !important;
}
/*expands when search icon is clicked*/
input#gsc-i-id1:focus {
    width: 2400px !important;
    padding-left: 50px !important;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,.1) !important;
            box-shadow: 0 3px 10px -2px rgba(0,0,0,.1) !important;
}

table.gsc-search-box td {
    vertical-align: top !important;
}

/** Google Original Style **/
/*googles input text box*/
.gsc-input div.gsc-input-box {
    width: 0;
    height: 25px;
    margin: 2% 0 0 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.gsc-input-box-focus, .gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover {
    /*
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    border-color: none !important;
}
/*Hide Googles search button*/
.gsib_a {
    padding: 0 !important;
    margin: 0 !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0 !important;
    margin: 0 !important;
}

td.gsc-search-button, .gsc-search-box-tools .gsc-clear-button {
    display: none;
}
/*Hide googles delete font box*/
td.gsib_b {
    display: none;
}
/*Hide Googles search content style*/
.cse .gsc-control-cse, .gsc-control-cse {
    width: 0 !important;
    padding: 0 !important;
    background-color: none;
}

.gcsc-find-more-on-google-branding {
    display: none !important;
}

.gsc-results-wrapper-overlay {
    top: 10% !important;
}

.gcsc-find-more-on-google {
    display: none!important;
}

/*admin loging*/

.section-login {
    height: 100%;
    margin-top: 5%;
    max-width: 500px !important;
    margin-left: auto;
    margin-right: auto;
}

    .section-login button {
        margin-top: 30px;
        background-color: #8282f6 !important; 
    }
    .section-login input[type=text], input[type=password] {
        background-color: #e7e7e7;
    }
    .section-login input, button {
        border-radius: 1px 1px !important;
    }


.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.tax-content img {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}