* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

    *:before,
    *:after {
        box-sizing: border-box;
    }

.index-wrap {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 180px; /* height of your footer */
}

html,
body {
    height: 100%;
    position: relative;
    background-color: transparent;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(rgba(1, 21, 37, 0.6), rgba(1, 21, 37, 0.6)), url("~/images/GettyImages-896245220.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.display-3 {
    font-size: 2rem;
    margin: 20px 0;
}

.display-4 {
    font-size: 1.5rem;
}

header {
    height: 30px;
    background: #0D47A1;
    font-size: 80%;
    font-weight: 400;
    padding-top: 3px;
}

    header div div:last-child {
        text-align: right;
    }


/* ----------------------- */
/* ------SECTION HEADER--- */
/* ----------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-8,
.js--wp-9 {
    opacity: 0;
}

    .js--wp-1.animated,
    .js--wp-2.animated,
    .js--wp-3.animated,
    .js--wp-8.animated,
    .js--wp-9.animated {
        opacity: 1;
    }

/* ----------------------- */
/* ------ NAVBAR --- */
/* ----------------------- */


.nav-icon-bar p,
h5 {
    margin-bottom: 0;
    text-decoration: none;
    color: #000;
    width: 213px;
}

.nav-icon-bar p {
    font-size: 85%;
}

.nav-icon-bar h5 {
    font-size: 110%;
}

nav a img {
    height: 50px;
    width: auto;
}

.navbar {
    font-weight: 400;
    font-size: 80%;
    padding: 0px 20px;
    height: 70px;
}

.navbar-nav li {
    padding-top: 13px;
}



    .navbar-nav li a:link,
    .navbar-nav li a:visited {
        color: #000;
        /* transition: color 0.2s; */
    }

    .navbar-nav li a:hover,
    .navbar-nav li a:active {
        color: #0D47A1;
        transition: display 0.4s;
    }

.navbar-nav {
    z-index: 5000;
    width: 100%;
    height: 100%;
}

.bg-light {
    background-color: rgba(255, 255, 255) !important;
}

.navbar-collapse {
}



.dropdown-toggle::after {
    display: none;
}


.small-drop ul {
    list-style: none;
    line-height: 1.5rem;
}

    .small-drop ul li {
        padding-top: 0px;
        width: 200px;
    }

.search-font {
    font-size: 50px;
    border-left: 1px solid #000;
    padding-left: 10px;
    margin-left: 100px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255);
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding: 30px;
    margin-top: 0;
    overflow: hidden;
    border-radius: 0;
}



.icon {
    font-size: 130%;
}


/* ----------------------- */
/* ------MEGA_MENU--- */
/* ----------------------- */

.mega-menu {
    width: 100%;
}

    .mega-menu p {
        font-size: 1rem;
        font-weight: 400;
        color: #57BDF6;
    }

    .mega-menu ul {
        list-style: none;
    }

    .mega-menu .row div:nth-child(-n+3) {
        border-right: 2px solid #000;
    }

/* --------------------------- */
/* --------Section-Footer------ */
/* --------------------------- */

.section-footer {
    background: #2A2929;
    color: #BEB9B9;
    font-size: 70%;
}

    .section-footer .row:first-child {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
    }


    /* .section-footer div div:first-child {
    margin-left: 10%;
} */

    .section-footer ul {
        list-style: none;
    }

        .section-footer ul li:first-child {
            color: #fff;
            font-weight: 400;
        }

    .section-footer img {
        height: 70px;
    }


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-section {
    background: #0D47A1;
    color: #000;
    padding-left: 15%;
}
