@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid section-header-footerLinks">
    <h2 class="display-4"> @Localizer[@ViewBag.Title] </h2>
</section>
<br />
<br />
<section class="container">
    <p>The County of Los Angeles (County) is committed to the universal accessibility of information contained on its website (Website). The design of the Website is optimized to ensure broad readability and usability, which include accessibility criteria and features for people with disabilities, so they may be able to see, understand, navigate, interact, and contribute to the Website effectively.
    The Website is currently a combination of new and old technologies, and new and existing content. The Website Home Page and supporting web pages are compliant with Section 508 of the United States Rehabilitation Act of 1973, as amended, and the Americans with Disabilities Act (together, Guidelines). However, the Website contains links to departmental, agency and third-party websites and features that may not be in compliance with the Guidelines. Some existing content may meet only the minimum required compliance standards. This will be resolved as departments and others update their existing websites and continue efforts to monitor and maintain acceptable compliance levels. However, this may not include third party software/tools, search engines, widgets, Add Ins, APIs, etc. which the County does not maintain or control.
    </p>
    <br />
    <h2 style="font-weight:600;">Cascading Style Sheets (CSS)</h2>
    <br />
    <p>The Website pages are designed with style sheets that allow a consistent, uniform appearance of headings and body text. This design feature also enables some browsers to override the Website style sheets with their own, thus providing content that is easier viewed by those who have visual impairments.</p>
    <br />
    <h2 style="font-weight:600;">Color Contrast</h2>
    <br />
    <p>The background and foreground colors on the Website pages provide sufficient contrast to be viewable by someone having color deficits.</p>
    <br />
    <br />
</section>