@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid bg-header bg-contesting-value">
    <h2 class="display-4"> @Localizer["CONTESTING YOUR PROPERTY VALUE"] </h2>
</section>

<section class="container-fluid p-0" style="">
    <img class="w-100" src="~/images/contesting-property-value-updated.png" usemap="#image-map" />
    
    <map name="image-map">
        <area target="_blank" alt="Contact the Assessor" title="Contact the Assessor" href="https://assessor.lacounty.gov/contact-the-assessor/" coords="278,174,911,370" shape="rect" />
        <area target="_blank" alt="Contact the Assessor" title="Contact the Assessor" href="https://assessor.lacounty.gov/contact-the-assessor/" coords="1623,208,1821,227" shape="rect" />
        <area target="_blank" alt="File an appeal" title="File an appeal" href="http://bos.lacounty.gov/Services/Assessment-Appeals" coords="1464,301,1793,320" shape="rect" />
        <area target="_blank" alt="Download FORM AAB100" title="Download FORM AAB10" href="https://assets-us-01.kc-usercontent.com/0234f496-d2b7-00b6-17a4-b43e949b70a2/cecc4693-d99f-4f8e-ad51-670c5c075c63/Fillable%20Form%20AAB100%20for%20website%20rev%2011%20%2805-22%29%20FINAL.pdf" coords="272,662,743,723" shape="rect" />
        <area target="_blank" alt="File an appeal" title="File an appeal" href="https://lacaab.lacounty.gov/Home.aspx" coords="598,603,650,624" shape="rect" />
    </map>
    <div class="contesting-links p-3">
        <h4 class="">PREPARING FOR YOUR ASSESSMENT APPEAL HEARING</h4>
        <ul class="px-4 my-4">
            <li><a alt="bos-rules" title="bos-reals" href="https://assets-us-01.kc-usercontent.com/0234f496-d2b7-00b6-17a4-b43e949b70a2/93368678-fbfa-43f9-a54e-0c916d756767/AAB%20Rules%20for%20website.pdf" target="_blank">Assessment Appeals Rules</a></li>
            <li><a alt="Prepare for hearing" title="Prepare for Hearing" href="https://assets-us-01.kc-usercontent.com/0234f496-d2b7-00b6-17a4-b43e949b70a2/b3656911-52db-478b-a2c3-42f282d749f8/How%20To%20Prepare%20For%20Your%20Assessment%20Appeal%20Hearing%20FOR%20website_revised_12.08.2022.pdf" target="_blank">How to Prepare for a Hearing</a></li>
            <li><a alt="Education Program" title="Education Program" href="http://bos.lacounty.gov/Services/Assessment-Appeals/Public-Education-Program" target="_blank">Public Education Program</a></li>
            <li><a alt="pub30" title="pub30" href="https://www.boe.ca.gov/proptaxes/pdf/pub30.pdf" target="_blank">Publication 30, Residential Property Assessment Appeals</a></li>
            <li><a alt="assessment video" title="assessment video" href="http://www.boe.ca.gov/info/assessmentvideo/" target="_blank">Your Assessment Appeal Video</a></li>
        </ul>
    </div>
</section>