@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid bg-header bg-contesting-value">
    <h2 class="display-4"> @Localizer["CONTESTING YOU PROPERTY VALUE"] </h2>
</section>

<section class="container section-contesting" style="">


    <p class="my-3">
        If your bank account has a debit block to prevent unauthorized organizations from debiting your account via Automated Clearing House (ACH) Network, you must notify your bank to authorized
        ACH debits from Los Angeles County with a debit filter with the Company Identification Number of:
    </p>
    <div class="d-flex d-inline">
        <div class="border border-dark  p-1">0</div>
        <div class="border border-dark p-1">0</div>
        <div class="border border-dark p-1">0</div>
        <div class="border border-dark p-1">0</div>
        <div class="border border-dark p-1">0</div>
        <div class="border border-dark p-1">7</div>
        <div class="border border-dark p-1">9</div>
        <div class="border border-dark p-1">1</div>
        <div class="border border-dark p-1">6</div>
        <div class="border border-dark p-1">1</div>
    </div>
    <p class="my-3">Los Angeles County updated its Company Identification Number on September 17, 2018, so you must update this Company Identification Number if you previously had a debit filter on your bank account.</p>



    <p>The Treasurer and Tax Collector now offers a courtesy Email Notification Service. By subscribing property owners in the County can receive Email blasts about property tax payment deadlines and other important property tax related information. <a href="https://public.govdelivery.com/accounts/CALACOUNTY/subscriber/new?qsp=CALACOUNTY_7" target="_blank">SubscribeHere</a></p>

    
    Click <a href="/images/pdf/PR 04.09.2019 Prop Tax Due April 10.pdf" target="_blank">here</a> to learn about the property tax system.

</section>