@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid bg-header bg-contesting-value">
    <h2 class="display-4"> @Localizer["CONTESTING YOU PROPERTY VALUE"] </h2>
</section>

<section class="container section-contesting" style="">


  

</section>