@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-govsites">
    <h2 class="display-4"> @Localizer[@ViewBag.Title] </h2>
</section>
<br />
<br />
<!-- links to other government sites -->
<section class="container">
    <br />

    <div class="row">
        <a href="http://www.boe.ca.gov/proptaxes/proptax.htm" target="_blank">California State Board of Equalization</a>
    </div>
    <div class="row">
        <a href="http://cssd.lacounty.gov/wps/portal/cssd/parents/mostwanted" target="_blank">Child Support Services Department’s “Most Wanted” List</a>
    </div>
    <div class="row">
        <a href="http://www.lavote.net/home/records/property-document-recording/forms/homesteads" target="_blank">Declaration of Homestead</a>
    </div>
    <!-- not working -->
    <div class="row">
        <a href="https://www.ftb.ca.gov/individuals/hra/index.html" target="_blank">Frequently Requested L.A. County Forms</a>
    </div>
    <div class="row">
        <a href="http://bos.lacounty.gov" target="_blank">L.A. County Board of Supervisors</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">L.A. County Chief Exeuctive Office:</p> &nbsp; &nbsp; &nbsp; <a href="https://ceo.lacounty.gov/" target="_blank">https://ceo.lacounty.gov/</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">L.A. County Department of Consumer & Business Affairs:</p> &nbsp; &nbsp; &nbsp; <a href="http://dcba.lacounty.gov/" target="_blank">http://dcba.lacounty.gov/</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">L.A. County Department of Human Resources:</p> &nbsp; &nbsp; &nbsp; <a href="http://dhr.lacounty.info/" target="_blank">http://dhr.lacounty.info/</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">L.A. County Directory of Services and Information:</p> &nbsp; &nbsp; &nbsp; <a href="http://www.lacounty.gov/government/county-services/directory-of-services-information" target="_blank">http://www.lacounty.gov/government/county-services/directory-of-services-information</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">L.A. County Portal:</p> &nbsp; &nbsp; &nbsp; <a href="http://portal.lacounty.gov" target="_blank">http://portal.lacounty.gov</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">L.A. County Quick Reference Guide:</p> &nbsp; &nbsp; &nbsp; <a href="http://lacounty.info/quick_reference_guide.htm" target="_blank">http://lacounty.info/quick_reference_guide.htm</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">L.A. County Registrar-Recorder/County Clerk:</p> &nbsp; &nbsp; &nbsp; <a href="https://www.lavote.net/" target="_blank">https://www.lavote.net/</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">Property Document Recording:</p> &nbsp; &nbsp; &nbsp; <a href="http://www.lavote.net/home/records/property-document-recording/recording-requirements" target="_blank">http://www.lavote.net/home/records/property-document-recording/recording-requirements</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">Property Tax Postponement:</p> &nbsp; &nbsp; &nbsp; <a href="http://www.sco.ca.gov/ardtax_prop_tax_postponement.html" target="_blank">http://www.sco.ca.gov/ardtax_prop_tax_postponement.html</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">Real Estate Records-Copies:</p> &nbsp; &nbsp; &nbsp; <a href="http://www.lavote.net/home/records/real-estate-records/viewing-real-estate-records/view-real-estate-records" target="_blank">http://www.lavote.net/home/records/real-estate-records/viewing-real-estate-records/view-real-estate-records</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">State and Local Government on the Net:</p> &nbsp; &nbsp; &nbsp; <a href="http://www.statelocalgov.net" target="_blank">http://www.statelocalgov.net</a>
    </div>
    <div class="row">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p style="font-weight:600">State of California Portal:</p> &nbsp; &nbsp; &nbsp; <a href="http://www.ca.gov/" target="_blank">http://www.ca.gov/</a>
    </div>
    <br />
</section>