@{
    ViewData["Title"] = "";
}
<div class="container">

    <!------------------------------- CAROSEL ------------------------------------>
    <div class="row">
        <div class="col">
            <h1>Test</h1>
        </div>
    </div>
    <!---------------------------- /END CAROSEL ---------------------------------->
    <!---------------------------------- BUTTONS ------------------------------------->

    <div class="row">
        <div class="col-sm-3" style="background-color:turquoise">
            <a class="btn btn-default" asp-area="Home" asp-page="/PublicInquiry">
                Public Inquiry
            </a>
        </div>
        <div class="col-sm-3" style="background-color:lightblue">
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                Learn More1
            </a>
        </div>
        <div class="col-sm-3" style="background-color:thistle">
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                Learn More2
            </a>
        </div>
        <div class="col-sm-3" style="background-color:violet">
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                Learn More3
            </a>

        </div>
    </div>

    <!------------------------------- /END BUTTONS ------------------------------------>
    <!--------------------------------- HEADER ---------------------------------------->
    <div>
        <!-- header -->
    </div>
    <!------------------------------- /END HEADER ------------------------------------->
    <!---------------------------- HOW PROPERTY TAX WORKS ----------------------------->
    <div>
        <!-- header -->
    </div>
    <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <!----------------------------- HOW PROPERTY TAX WORKS ---------------------------->
    <!------------------------------ FURTHER INFORMATION ------------------------------>
    <div>
        <!-- header -->
    </div>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">

        </div>
    </div>
    <!------------------------------ /FURTHER INORMATION  ----------------------------->
</div>
