@{
    ViewData["Title"] = "";
}



<div class="row justify-content-center bg-transparent">
    <!------------------------------- CAROSEL ------------------------------------>
    <div class="col-md-5 col-xs-12 container-fluid">

        <div class="row">
            <h2 class="display-3"><strong>Welcome</strong> </h2>
        </div>
        <div class="row">
            <div class="col-9 ml-auto">

                <strong>
                    The offices of the Assessor, Auditor-Controller, Treasurer & Tax Collector,
                    and Assessment Appeals Board have prepared this property tax information site to
                    provide taxpayers with an overview and some specific detail about the property
                    tax process in Los Angeles County.
                </strong>
                <br />
                <br />

                <strong>
                    You will find answers to frequently asked questions (FAQs) and the most commonly
                    requested property tax information.

                </strong>
                <br />
                <br />
                <strong>
                    It is our hope that this information will be helpful to taxpayers in Los Angeles
                    County.
                </strong>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-xs-12">
        <div class="d-flex container-fluid flex-row mt-5">
            <div class="row ">
                <div class="col-sm-2 text-center mx-3">
                    <a href="#">
                        <img class="img-fluid img-sz" src="~/images/JPrang.jpg" />
                    </a>
                    <p><strong>Jeffrey Prang</strong></p>
                    <p><strong>Assessor</strong></p>
                </div>
                <div class="col-sm-2 text-center mx-3">
                    <a href="#">
                        <img class="img-fluid img-sz" src="~/images/JNaimo1.jpg" />
                    </a>
                    <p><strong>John Naimo</strong></p>
                    <p><strong>Auditor-Controller</strong></p>
                </div>
                <div class="col-sm-2 text-center mx-3">
                    <a href="#">
                        <img class="img-fluid img-sz" src="~/images/JosephKelly.jpg" />
                    </a>
                    <p><strong>Joseph Kelly</strong></p>
                    <p><strong>Treasurer&</strong></p>
                    <p><strong>Tax Collector</strong></p>
                </div>
                <div class="col-sm-2  text-center mx-3">
                    <a href="#">
                        <img class="img-fluid img-sz" src="~/images/CeliaZavala.png" />
                    </a>
                    <p><strong>Celia Zavala</strong></p>
                    <p><strong>Assessment</strong></p>
                    <p><strong>Appeals Board</strong></p>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------- /END CAROSEL ---------------------------------->
</div>
<!---------------------------------- BUTTONS ------------------------------------->


<div class="row justify-content-center mt-5">

    <a class="col-lg-3 col-md-6 color-1 button-spacing w-25 btnfos btnfos-5" href="#">
        <div class="">
            <h6>Propertty Tax Management System</h6>
            <hr />
        </div>
    </a>
    <a class="col-lg-3 col-md-6 color-2 button-spacing w-25 btnfos btnfos-5" href="#">
        <div class="">
            <h6>Your Property Value</h6>
            <hr />
        </div>
    </a>
    <a class="col-lg-3 col-md-6 color-3 button-spacing w-25 btnfos btnfos-5" href="#">
        <div class="">
            <h6>Payment Options</h6>
            <hr />
        </div>
    </a>
    <a class="col-lg-3 col-md-6 color-4 button-spacing w-25 btnfos btnfos-5" href="#">
        <div class="">
            <h6>Public Inquiry</h6>
            <hr class="" />
        </div>
    </a>


</div>
<!------------------------------- /END BUTTONS ------------------------------------>
<!--------------------------------- HEADER ---------------------------------------->
<div class="row mt-3">
    <div class="col p-5 text-center">
        <h2 class="display-2"><strong>News & Announcements</strong></h2>
    </div>
</div>



<!------------------------------- /END HEADER ------------------------------------->
<!---------------------------- HOW PROPERTY TAX WORKS ----------------------------->
<div>
    <!-- header -->
</div>
<div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">

    </div>
</div>
<!----------------------------- HOW PROPERTY TAX WORKS ---------------------------->
<!------------------------------ FURTHER INFORMATION ------------------------------>
<div>
    <!-- header -->
</div>
<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
</div>
<!------------------------------ /FURTHER INORMATION  ----------------------------->
