@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<PropertyTaxPortal.Models.News>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="container-fluid bg-header bg-news">
    <h2 class="display-4">@Localizer["NEWS & ANNOUNCEMENTS"]</h2>
</section>
<section class="news-title p-3">
    <h4 class="feat">Featured Articles</h4>
</section>

<section class="news-landing container-fluid mb-5">
    <div class="row">
        
        @foreach (var item in Model)
        {
        <div class="col-md-4 ">
            <div class="p-2 newsbox mx-auto">
                <strong class="head">@Html.DisplayFor(modelItem => item.Title)</strong>
                <p>@Html.DisplayFor(modelItem => item.Caption)</p>
                <a asp-controller="Home" asp-route-id="@item.NewsId" asp-action="NewsLanding">Read More..</a>
            </div>
        </div>
        }
    </div>
</section>
