
@{
    ViewData["Title"] = "Calculator";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Tax Portal</title>

     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" type="text/css" href="~/lib/fonts/css/all.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
        .form-group {
            padding: 0;
        }
        #share__property {
            display: none;
        }
        .less_than {
            display: none;
        }
        .greater_than {
            display: none;
        }
        #error, #error_fmv{
            display: none;
        }
        .prop__question p {
            text-transform: uppercase;
        }
        .notes {
            padding-top: 2em;
        }
        .notes p, .notes h4 {
            padding: 6px 0;
        }
        #backBtn {
            display: none;
        }
    </style>
</head>
<body>
    

    <form autocomplete="off" onsubmit="myFunction(); return false;">
    <div class="container">
        <div class="row">
            <p>Taxpayers may benefit from a reassessment exclusion when transferring a principal residence between family members. 
                In order to estimate the new base year value of the principal residence after an exclusion claim is approved, please
                provide the information below:
            </p>
        </div>
        <div class="row init_question" style="margin-top: 5px">  
            <div class="form-group col-md-3"> <input type="number" id="update" class="form-control" placeholder="Assessor ID Number (AIN)" /> </div>  
            <div class="col-md-1 text-center"><p style="line-height: 2em;">or</p></div>  
            <div class="form-group col-md-3 pl-0"> <input type="text" id="select" class="form-control" autocomplete="off" placeholder="Address"/> </div>  <span id="error" style="color: red; line-height: 2em; margin-left: 1em;">Please enter valid AIN or Address</span>  
           
        </div>  
        <div class="row init_question">
            <div class="form-group col-md-7">
                <input type="number" class="form-control" id="fmv" minlength="10" placeholder="Fair Market Value of Principal at Time of Transfer"> </div> <span id="error_fmv" style="color: red; line-height: 2em; margin-left: 1em;">Please enter Fair Market Value</span>
            
        </div>
        <div id="share__property">
            <div class="row prop__question">
                <p>1. Calculate the sum of the taxable value plus $1,000,000</p>
            </div>
            <div class="row">
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="tv" class="form-control" disabled/> <p>TAXABLE VALUE</p></div>  
                <div class="col-md-1 text-center"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-plus"></i></p></div>  
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="eaa" class="form-control" disabled value="$1,000,000"/> <p>EXCLUSTION ADJUSTED ANNUALLY</p></div>  
                <div class="col-md-1 text-center"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-equals"></i></p></div>  
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="sum" class="form-control" disabled/> <p>SUM</p></div>  
                
            </div>
            <div class="row prop__question">
                <p>2. Is the fair market value greater than the sum of the taxable value plus $1,000,000</p>
            </div>
            <div class="row">
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="fmv2" class="form-control" disabled/></div>  
                <div class="col-md-1 text-center greater_than"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-greater-than"></i></p></div>  
                <div class="col-md-1 text-center less_than"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-less-than-equal"></i></i></p></div>  
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="sum2" class="form-control"/> </div>  
                 
                
            </div>
        </div>
        <div class="greater_than">
            <div class="row prop__question">
                <p>3. Calculate the difference</p>
            </div>
            <div class="row">
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="fmv3" class="form-control" disabled/> <p>FAIR MARKET VALUE</p></div>  
                <div class="col-md-1 text-center"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-minus"></i></p></div>  
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="sum3" class="form-control" disabled/> <p>SUM</p></div>  
                <div class="col-md-1 text-center"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-equals"></i></p></div>  
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="difference" class="form-control" disabled/> <p>DIFFERENCE</p></div>  
                
            </div> 
            <div class="row prop__question">
                <p>4. Add the difference to the taxable value to arrive at the new combined base year value (partial benefit)</p>
            </div>
            <div class="row">
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="difference2" class="form-control" disabled/> <p>DIFFERENCE</p></div>  
                <div class="col-md-1 text-center"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-plus"></i></p></div>  
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="tv2" class="form-control" disabled/> <p>TAXABLE VALUE</p></div>  
                <div class="col-md-1 text-center"><p style="line-height: 1.4em; font-size: 2em"><i class="fas fa-equals"></i></p></div>  
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="finalVal" class="form-control" disabled/> <p></p></div>  
                
            </div>
        </div>
        <div class="less_than">
            <div class="row prop__question">
                <p>3. Taxable value transfers with the full benefit retained</p>
            </div>
            <div class="row">
                <div class="form-group col-md-3 pl-0 text-center"> <input type="text" id="FBR" class="form-control" disabled/></div>  
                
            </div>
        </div>

        <div class="row">
            <button type="submit" id="inputBtn" class="btn btn-primary">Calculate</button>

        </div>
    </div>
    </form>
    <div class="container">
        <div class="row notes">
            <h4 style="text-decoration: underline;">DEFINITIONS AND DISCLOSERS</h3>
            <p>A <strong>Principal Residence</strong> is a residence that is eligible for either the homeowners’ or disabled veterans’ exemption. The transferred property for Prop. 19 must be the principal residence of both the transferor and transferee.</p>
            <p>The <strong>Taxable Value</strong> of the primary transfer residence, is the original base year value, adjusted by the annual inflation factor for each taxable year under the current ownership.</p>
            <p style="font-style: italic;"><strong>NOTE:</strong> “Taxable Value” and “Factored Base Year Value” are used interchangeably.</p>
            <p>A <strong>Fair Market Value</strong> is what the principal residence would sell for if exposed on the open market at the time of transfer. Your estimate of Fair Market Value could vary from the Fair Market Value estimate of the Assessor.</p>
            <p style="font-style: italic;"><strong>NOTE:</strong> This calculator is based on the transfer of principal residence occuring in the current tax year. The calculator is available only as a tool and all results are only an estimate.</p>
        </div>
        <div class="row">
            <button type="button" id="backBtn" class="btn btn-primary">Back</button>

        </div>
        
    </div>
    <hr>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></scrip>

    <script src="~/lib/jquery/dist/min.popper.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
     <script>
        

    
    $( "#backBtn" ).click(function() {
        location.reload();
    });  

    $("#select").typeahead({
    delay: 600,
    minLength: 3,
    source: function (request, response) {    
                    
                    @* console.log(request.charAt(request.length - 1)); *@
                    var length = request.charAt(request.length - 1);
                    if(length !== ' '){
                        $.ajax({    
                        url: "/Home/Prop19CalculatorAddress/",    
                        data: {    
                            "address": request    
                        },    
                        type: "GET",    
                        contentType: "json",    
                        success: function (data) {  
                             
                            @* console.log(data); *@
                            map = {};
                            response($.map(data, function(item){

                                var id = item.ain;
                                var address = item.situsAddress;
                                map[address] = {    
                                    id: id,    
                                    address: address    
                                }; 
                                @* console.log(map); *@
                                
                                return item.situsAddress;
                            }));
                        }
                            
                    });    
                    } else {
                        console.log('not ok')
                    }
                    
                },
                updater: function (item) { //If simultaneously want to update value somewhere else 
                    $("#update").val(map[item].id); return item; 
                    
                } 
        
    });
    function myFunction() {
        var fbv = "";
        var fbvsum = "";
        var fairMarketValue = $("#fmv").val();
        var ain = $("#update").val();
    
        if(ain === "") {
            console.log("emtly");
            $("#error").show();
        }
        else if ($("#fmv").val() === "") {
            $("#error_fmv").show();
        }
        else if (ain.length != 10) {
            $("#error").show();
            return;
        }
        else {
            $("#inputBtn").text("Calculating..");
            $.ajax({    
                        url: "/Home/Prop19CaluclatorFactoredBase/",    
                        data: {    
                            "ain": ain
                        },    
                        type: "GET",    
                        contentType: "json",    
                        success: function (data) {  
                            $("#inputBtn").text("Calculate");
                            if(data === null) {
                                $("#error").show();
                                return;
                            }
                            $("#inputBtn").hide();
                            $("#backBtn").show();
                            $(".init_question").hide();
                            fbv = data.baseValue;
                            fbvsum = fbv + 1000000;

                             $("#tv").val("$" + fbv);
                             $("#sum").val("$" + fbvsum);
                            $("#share__property").show();
                             $("#fmv2").val("$" + fairMarketValue);
                                $("#sum2").val("$" + fbvsum);
                            console.log(fbvsum);
                            if(fairMarketValue > fbvsum) {
                                
                                $("#fmv3").val("$" + fairMarketValue);
                                $('#sum3').val("$" + fbvsum);
                                var diffence = fairMarketValue - fbvsum;
                                $('#difference').val("$" + diffence);
                                $('#difference2').val("$" + diffence);
                                $('#tv2').val("$" + fbv);
                                diffence += fbv;
                                $('#finalVal').val("$" + diffence);
                                $(".greater_than").show();
                            }
                            else {
                                
                                $("#FBR").val("$" + fbv);
                                $(".less_than").show();
                            }
                        }
                            
                    }); 
        }
    };

    </script>
</body>
</html>